@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@import "tailwindcss";

@theme{
  --font-display: 'poppins','sans-serif';
--breakpoint-3xl:1920px;
--color-primiary: #87cf5

}

@layer base{
html{
  font-family: var(--font-display);
}
body{
  background-color: #fefefe;
  overflow-x: hidden;
}

}


*{
 
box-sizing: border-box;
}